[mysqld]

# Settings
sql-mode = ""
character-set-server = utf8
collation-server = utf8_bin
innodb_flush_log_at_trx_commit = 2

# Logs
#general_log = on
#general_log_file = /var/log/general_queries.log

#slow_query_log                  = 1
slow_query_log_file             = /var/log/slow_queries.log
long_query_time                 = 1

log_error = /var/log/error.log